<h1> <%= @project.title() %></h1>

<% if @project.volunteers.any? %>
  <h4> Volunteers currently on the project:</h4>
    <ul>
      <% @project.volunteers.each() do |volunteer| %>
      <li>Name: <a href='/volunteer/<%=@project.id%>'><%= volunteer.name %></a></li>
      <% end %>
    </ul>

    <% else %>
      <p> There are currenlty no volunteers on the project </p>
    <% end %>

    <h1> Add volunteers </h1>

    <form action='/project/<%=@project.id%>/volunteer' method= "post">
      <input id="project_id" name= "project_id" type="hidden" value=  '<%=@project.id%>'>
      <div class="form-group">
        <label for="volunteer_name"> Volunteer's Name: </label>
        <input id='name' name="name" type="text" class= "form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add Volunteer</button>
      </div>
    </form>


<h3><a href= "/"> Home</a></h3>
<h3><a href="/project/<%= @project.id%>/edit">Edit This Project </a></h3>
